
  <!--fin SLIDER-->
  <section id="service-area" class="section-padding">
    <div class="container">
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2> Les services parking/aéroport My-Parking </h2>
                        <h2><strong> gamme de services voyageurs et véhicules : </strong></h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                  
                </div>
            </div>
            <!-- Section Title End -->
        </div>
  
       
  <!-- Service Content Start -->
  <div class="row">
    <!-- Single Service Start -->
    <div class="col-lg-4 text-center">
      <div class="service-item">
        <i class="fa fa-taxi"></i>
        <h3>Surveillance </h3>
        <p>vous pouvez surveiller votre voiture depuis votre telephone .</p>
      </div>
    </div>
    <!-- Single Service End -->
    
    <!-- Single Service Start -->
    <div class="col-lg-4 text-center">
      <div class="service-item">
        <i class="fa fa-cog"></i>
        <h3>Réparation et révision de votre voiture</h3>
        <p>Ne perdez pas le temps, faites votre révision pendant que vous étes en voyage.</p>
      
      </div>
    </div>
    <!-- Single Service End -->
    
    <!-- Single Service Start -->
    <div class="col-lg-4 text-center">
      <div class="service-item">
        <i class="fa fa-map-marker"></i>
        <h3> Ouvert 7j/7 24h/24</h3>
        <p>Notre parking est ouvert 7jours/7 et 24heures/24</p>
      </div>
    </div>
    <!-- Single Service End -->
    
    <!-- Single Service Start -->
    <div class="col-lg-4 text-center">
      <div class="service-item">
        <i class="fa fa-life-ring"></i>
        <h3>Assurance Annulation</h3>
        <p>Remboursement total (hors assurance) de votre réservation sur simple demande par email, quelle que soit la raison !

            En cas d'annulation au moins 6 heures avant l'heure d'arrivée prévue chez My-Parking.</p>
      </div>
    </div>
    <!-- Single Service End -->
    
    <!-- Single Service Start -->
    <div class="col-lg-4 text-center">
      <div class="service-item">
        <i class="fa fa-bath"></i>
        <h3> Nettoyage Complet</h3>
        <p>- Prélavage + lavage carrosserie.</p>

        <p>   - Nettoyage des vitres.</p> 
            
        <p>    - Nettoyage des jantes.</p>
      </div>
    </div>
    <!-- Single Service End -->
    
    <!-- Single Service Start -->
    <div class="col-lg-4 text-center">
      <div class="service-item">
        <i class="fa fa-phone"></i>
        <h3>Navette Privée</h3>
        <p>Vous êtes déposé en moins de 5 minutes devant votre terminal à l'aéroport de Lyon Saint-Exupéry et accueilli au retour..</p>
      </div>
    </div>
    <!-- Single Service End -->
  </div>
  <!-- Service Content End -->
    </div>
  </section>