<app-navbar></app-navbar>
<div class="app-container">

  <app-filtre [show]="showFilter"></app-filtre>

<router-outlet></router-outlet>
<app-footer></app-footer>
</div>
























  
 
  <!-- <div class="page-title-area">
    <div class="style1">
      <div class="dropdown" style="padding-right: 10px;">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">choisir une ville</a>
          <a class="dropdown-item" href="#">casablanca  </a>
          <a class="dropdown-item" href="#">Rabat</a>
        </div>
      </div>
      <div class="dropdown" style="padding-right: 10px; ">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">choisir aeroport</a>
        <a class="dropdown-item" href="#">casablanca  </a>
        <a class="dropdown-item" href="#">Rabat</a>
      </div>
      </div>
      <button class="btn btn-primary " type="button" >
        Rechercher
      </button>
    </div>
  </div> -->























